<div class="row">
    <div class="col-sm-6">
        <h3>Object Type Details</h3>
        <hr />
        <form [formGroup]="objectTypeForm">
            <div class="form-group" *ngIf="isEditMode">
                <label for="category">Object Type Id</label>{{objectType.objectTypeId}}
                <input type="text" class="form-control" id="objectTypeId" name="objectTypeId" [formControl]="objectTypeId" [(ngModel)]="objectType.objectTypeId" readonly>
            </div>
            <div class="form-group">
                <label for="category">Object Type Name</label>
                <input type="text" class="form-control" id="objectTypeName" [formControl]="objectTypeName" [(ngModel)]="objectType.objectTypeName"
                    name="objectTypeName" maxlength="45">
            </div>
            <div *ngIf="objectTypeName.invalid && (objectTypeName.dirty || objectTypeName.touched)" class="alert alert-danger">
                <div *ngIf="objectTypeName.errors?.required">
                    Object Type Name is required.
                </div>
            </div>

            <div class="form-group">
                <label for="category">Description</label>
                <textarea class="form-control" id="description" [formControl]="description" [(ngModel)]="objectType.description" name="description"
                    maxlength="500"></textarea>
            </div>
            <div *ngIf="description.invalid && (description.dirty || description.touched)" class="alert alert-danger">
                <div *ngIf="description.errors?.required">
                    Description is required.
                </div>
            </div>
            <div class="form-group">
                <label for="category">Level</label>
                <input type="text" class="form-control" id="level" [formControl]="level" [(ngModel)]="objectType.level" name="level">
            </div>
            <div *ngIf="level.invalid && (level.dirty || level.touched)" class="alert alert-danger">
                <div *ngIf="level.errors?.required">
                    Level is required.
                </div>
                <div *ngIf="level.errors?.pattern">
                    Level must be in the range 1 to 5.
                </div>
            </div>

            <br />
            <button type="submit" class="btn btn-success" *ngIf="!isEditMode" [disabled]="!objectTypeForm.valid"
                (click)="addObjectType()">Add</button>
            <button type="submit" class="btn btn-success" *ngIf="isEditMode" [disabled]="!objectTypeForm.valid"
                (click)="saveObjectType()">Save</button>
            &nbsp;
            <button class="btn btn-warning" (click)="clear()">Clear</button>
        </form>
    </div>
</div>

<br />
<div class="row">
    <div>
        <span class="alert-danger">
            {{this.errorMessage}}
        </span>
    </div>
</div>
<br />
<div class="row">
    <div class="col-sm-10">
        <h3>Object Type List</h3>

        <hr />
        <div class="row" *ngIf="objectTypes.length >0">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Object Type Id</th>
                        <th>Object Type Name</th>
                        <th>Description</th>
                        <th>Level</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let objectType of objectTypes">
                        <td>{{objectType.objectTypeId}}</td>
                        <td>{{objectType.objectTypeName}}</td>
                        <td>{{objectType.description}}</td>
                        <td>{{objectType.level}}</td>
                        <td>
                            <button class="btn fa fa-edit" (click)="edit(objectType.objectTypeId)"></button> &nbsp;
                            <button class="btn fa fa-remove" (click)="delete(objectType.objectTypeId)"></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>